<div class="jumbotron text-center">
		<img ng-src="{{myImgSrc}}" class="logo background_image">
	 	<img ng-src="{{UNUMImgSrc}}" class="logo UNUM_Image">
	 	<img ng-src="{{backarrow}}" class="logo backArrow">
	 	<a class="logo home" href="/"> HOME </a>
	 	<a class="logo login forlogin" href="/login"> LOG IN </a>
	 	<a class="logo signup forlogin" href="/signup"> SIGN UP </a>
	 	
	 	<label class="logo label1">Email: </label>
		<input type="text" name="input1" ng-pattern="example.word" required ng-trim="false" class="logo inputmail">

	 	<label class="logo label2">Password: </label>
		<input type="password" name="input2" ng-pattern="example.word" required ng-trim="false" class="logo inputpassword">

		<button ng-click="Login()" class="logo LogInButton"> Log In </button>

 </div>
